.button {
    &__add {
      display: block;
      margin: 48px auto 37px auto;
      font-size: 18px;
      line-height: 21px;
      font-weight: 500;
      width: 216px;
      height: 47px;
      background: #FFFFFF;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 4px;
      border: none;
    }
    &__add:hover {
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &__history {
      display: block;
      margin: auto auto 18px auto;
      background-color: transparent;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #F5E5E7;
      border: none;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &__remove {
      display: block;
      margin: auto auto 37px auto;
      background-color: transparent;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #F5E5E7;
      border: none;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }