.history {
    background: white;
    color: black;
    height: 50vh;
    position: absolute;
    bottom: -50vh;
    display: none;
    opacity: 0;
    overflow: scroll;
    margin: 0;
    transition: bottom 1s ease-in-out, display 1s ease-in-out, opacity 1s ease-in-out;
    width: 375px;
    z-index: 9999;
    &--visible {
      bottom: 0;
      display: block;
      opacity: 1;
    }
    &__table {
      width: 80%;
      margin: 48px auto 0 auto;
    }
    &__header {
      margin-bottom: 16px;
      padding: 16px 0;
      font-size: 18px;
    }
    &__icon {
      text-align: right;
      position: relative;
    }
    &__close {
      display: block;
      margin: 16px 16px;
      position: absolute;
      right: 0;
    }
  }