.history {
    background: white;
    color: black;
    height: 50vh;
    position: absolute;
    display: none;
    overflow: scroll;
    margin: 0;
    min-width: 320px;
    max-width: 375px;
    border-radius: 4px;
    z-index: 9999;
    &--visible {
      bottom: 0;
      display: block;
      opacity: 1;
    }
    &__table {
      width: 80%;
      margin: 0 auto 0 auto;
    }
    &__header {
      margin-bottom: 16px;
      padding: 16px 0;
      font-size: 18px;
    }
    &__icon {
      text-align: right;
      position: relative;
      padding: 16px;
    }
    &__close {
      display: block;
      margin: 16px 16px;
      position: absolute;
      right: 0;
    }
  }